@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

.gradient-btn{
  @apply bg-gradient-to-r from-pink-900 via-pink-700 to-pink-500 py-2 px-3 rounded-md items-center flex;
}

.btn-hover{
  @apply inline-flex justify-center items-center text-center w-full h-12 p-5 mt-20 tracking-tight text-xl hover:bg-pink-900 border border-pink-900 rounded-lg transition duration-200
}

.gradient-text{
  @apply bg-gradient-to-r from-pink-500 to-pink-800 text-transparent bg-clip-text
}

.gradient-icon{
 @apply flex mx-6 h-10 w-10 p-2 bg-neutral-900 text-pink-700 justify-center items-center rounded-full
}

.hero-section-video{
  @apply rounded-lg w-1/2 border border-pink-700 shadow-sm shadow-pink-400 mx-2 my-4;
}
.check-circle{
  @apply text-green-400 h-10 w-10 p-2 justify-center items-center rounded-full
}